# Godot 4+ specific ignores
.godot/
addons/legadot/example/demo_music/queueables/b.wav.import
addons/legadot/example/demo_music/queueables/c.wav
addons/legadot/example/demo_music/queueables/c.wav.import
addons/legadot/example/demo_music/queueables/collect_sfx.wav
addons/legadot/example/demo_music/queueables/collect_sfx.wav.import
addons/legadot/example/demo_music/queueables/d.wav
addons/legadot/example/demo_music/queueables/d.wav.import
addons/legadot/example/demo_music/queueables/e.wav
addons/legadot/example/demo_music/queueables/e.wav.import
addons/legadot/example/demo_music/queueables/f.wav
addons/legadot/example/demo_music/queueables/f.wav.import
addons/legadot/example/demo_music/queueables/g.wav
addons/legadot/example/demo_music/queueables/g.wav.import
addons/legadot/example/demo_music/queueables/grav_sfx.wav
addons/legadot/example/demo_music/queueables/grav_sfx.wav.import
addons/legadot/example/demo_music/queueables/win_sfx.wav
addons/legadot/example/demo_music/queueables/win_sfx.wav.import
project.godot
addons/legadot/example/demo_music/queueables/a.wav
addons/legadot/example/demo_music/queueables/a.wav.import
addons/legadot/example/demo_music/queueables/a5.wav
addons/legadot/example/demo_music/queueables/a5.wav.import
addons/legadot/example/demo_music/queueables/b.wav
addons/legadot/example/demo_music/spikes.wav
addons/legadot/example/demo_music/spikes.wav.import
addons/legadot/example/demo_music/tnog_main.wav
addons/legadot/example/demo_music/tnog_main.wav.import
addons/legadot/example/demo_music/tutorial_test.wav
addons/legadot/example/demo_music/tutorial_test.wav.import
addons/legadot/example/tnog_playlist.tres
legadot_demos/be_alright/be_alright.tres
legadot_demos/be_alright/be_alright_bass.ogg
legadot_demos/be_alright/be_alright_bass.ogg.import
legadot_demos/be_alright/be_alright_drums.ogg
legadot_demos/be_alright/be_alright_drums.ogg.import
legadot_demos/be_alright/be_alright_instruments.ogg
legadot_demos/be_alright/be_alright_instruments.ogg.import
legadot_demos/be_alright/be_alright_vocals.ogg
legadot_demos/be_alright/be_alright_vocals.ogg.import
legadot_demos/black_out/black_out.tres
legadot_demos/black_out/black_out_bass.ogg
legadot_demos/black_out/black_out_bass.ogg.import
legadot_demos/black_out/black_out_drums.ogg
legadot_demos/black_out/black_out_drums.ogg.import
legadot_demos/black_out/black_out_instruments.ogg
legadot_demos/black_out/black_out_instruments.ogg.import
legadot_demos/black_out/black_out_vocals.ogg
legadot_demos/black_out/black_out_vocals.ogg.import
legadot_demos/black_out/events/bo_mute_vocals_early.gd
legadot_demos/rocknroll/rocknroll.tres
legadot_demos/rocknroll/rocknroll_bass.ogg
legadot_demos/rocknroll/rocknroll_bass.ogg.import
legadot_demos/rocknroll/rocknroll_drums.ogg
legadot_demos/rocknroll/rocknroll_drums.ogg.import
legadot_demos/rocknroll/rocknroll_instruments.ogg
legadot_demos/rocknroll/rocknroll_instruments.ogg.import
legadot_demos/rocknroll/rocknroll_vocals.ogg
legadot_demos/rocknroll/rocknroll_vocals.ogg.import
addons/legadot/example/demo_music/pause.wav.import
addons/legadot/example/demo_music/pause.wav
addons/legadot/example/demo_music/crates.wav.import
addons/legadot/example/demo_music/crates.wav
